@font-face {
    font-family: 'Futura Demi';
    src: url('../fonts/Futura/FuturaDemiC.eot');
    src: url('../fonts/Futura/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/FuturaDemiC.woff2') format('woff'),
        url('../fonts/Futura/FuturaDemiC.woff2') format('woff2'),
        url('../fonts/Futura/FuturaDemiC.ttf') format('truetype'),
        url('../fonts/Futura/FuturaDemiC.svg#FuturaDemiC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'Futura Book';
    src: url('../fonts/Futura/FuturaBookC.eot');
    src: url('../fonts/Futura/FuturaBookC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/FuturaBookC.woff2') format('woff'),
        url('../fonts/Futura/FuturaBookC.woff2') format('woff2'),
        url('../fonts/Futura/FuturaBookC.ttf') format('truetype'),
        url('../fonts/Futura/FuturaBookC.svg#FuturaBookC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
